.home {
  text-align: center;
  margin-top: 80px;
}

.home h1 {
  color: #003366;
  font-size: 36px;
}

.home p {
  font-size: 18px;
  margin: 20px 0;
  color: #444;
}

.btn {
  padding: 12px 25px;
  background: #0055aa;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.btn:hover {
  background: #003366;
}
